body{
	background:blue;
	font-size: 125%;

}

header{
	background: yellow;
	text-align: center;
}

h1{
	color: red;
}

nav{
	font-variant: small-caps;
	font-family: Arial, "Times New Roman", serif;
	font-size: 150%;
}

h2{
	color: blue;
	background: yellow;
}


summary{
	font-style:normal;
}
li{
	color: white;
	background: maroon
}
section{
	text-align: centre;
}
