* {
  box-sizing : border-box;
}
body {
  font-family: "Times New Roman", serif;
} 
div.country{
  width:100% ;
}
  
h1{
  text-align:center;
}
div.india, div.usa,div.uk{
  background-color: #00FFFF;
  border:1px solid #000000;
  position:relative;
  margin-left:1%;
  margin-right: 1%;
  margin-bottom:2%;
}	
h2{
  position:absolute;
  top:0px;
  right:0px;
  background-color: #FF3300;
  width:180px;
  text-align : center;
  padding:10px;
  margin-top:0px;
  border-width: 0px 0px 1px 1px;
  border-color:#000000;
  border-style: solid;
}
p{
  margin-top:50px;
  text-align:left;
  padding:10px;
}
@media (min-width:768px) and (max-width:991px){
  .col-md-6,.col-md-12
  {
    float:left;
    height: 250px;
  }
  .col-md-6{
    width:48%;
  }
  .col-md-12{
    width:98%;
  }
}
@media (min-width:992px){
  .col-lg-4
  {
    float:left;
    height: 250px;
  }
  .col-lg-4{
    width:31.33%;
  }
}
@media (max-width:767px){
  .col-sm-12
  {
    float:left;
    height: 250px;
  }
  .col-sm-12{
    width:98%;
  }
}
