
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
} 
div.country{
  width=100%;
}
h1{
  text-align:center;
}
div.india, div.usa, div.uk{
  margin:5px;
  border:1px solid #000000;
  background-color: rgba(0, 255, 0, 0.3);
  position:relative;
}
h2{
  position:absolute;
  background-color: #0000ff;
  text-align : center;
  padding:10px;
  width : 200px
  margin-top:0px;
  border-width: 1px 1px 1px 1px;
  border-color:#000000;
  border-style: solid;
  
}
p{
  width : 33%
  margin-top:10px;
  text-align:centre;
  padding:10px;
  display: block;
  margin-right: auto
  margin-left : auto  
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-4{
  float:left
  height: 250px
  width:33%  
  }

}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 .col-lg-4, .col-md-6,.col-sm-12{
  float:left
  height: 250px  
  }
.col-md-6{
  
  width:50%  
  }
.col-sm-12{
  width:100%  
  }
  
}

/********** Small devices only **********/
@media (max-width: 991) {
  .col-sm-12{
  float:left
  height: 250px
  width:100%  
  }
}

