body{
  background-color:#ffff00; 
  padding:10px;
}

header{
  background-image:url("https://farm4.staticflickr.com/3948/15409853738_7dbfbfbac7_k.jpg");
  background-color:#e303fc;
  background-position: center;
  height:180px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.8;
  margin:20px 20px 0px; 
} 

h1{
  text-transform:uppercase;
  color:#ffffff;
  text-align:center;
  font-weight:bold;
}

nav a{
  display:inline-block;
  height:20px;
  padding:15px 0px;
  font-size:24px;
  text-align:center;
  text-decoration:none;
  width:20%;
  background-color:#ffffff;
  opacity:0.6;
  margin:2%;
  border:#000000 solid 1px;
  border-radius:10px;
}

nav a{
  color:#000000;
}

header nav a:hover,header nav a:active{
  background-color:#fc0303;
}

.left{
  background-image:#1b9da8;
  float:left;
  width:300px;
  margin:0px 0px 20px 20px;
}

aside img{
  width:200px;
  height:200px;
  border:#000000 solid 1px;
  display:block;
  margin:10px auto;
}

.right{
  display:inline-block;
  width:70%;
  padding:0px 20px 20px 10px;
  color:#000000;
  margin:25px;
}

h2{
  text-transform:uppercase;
  color:#ff0000;
}

.active{
  background-color:#ffff24;
}
