body {
  font-size: 16px;
  color: black;
  background-color: yellow;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #d3ecf5;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 10px;
  margin-bottom:10px;
}

#roundborder{
  border: 2px solid black;
  border-radius:4px;
}  

#fullwidth{
  width:100%;
  padding:10px;
  margin:5px;
}  

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
button div {
  width: 30px;
  height: 5px;
  background-color: #000000;
  margin: 3px 0px 4px;
}
div button {
  float: right;
} 

div hr.one{
  margin:5px;
  height:2px;
  color:#000000;
}  


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}
@media max-width:300px {
  .col-xxs-12
  .col-xxs-12{
    width:100%;
  } 
}  
